.result-part{
    background: rgb(52,95,246);
background: linear-gradient(90deg, rgba(52,95,246,1) 0%, rgba(52,95,246,0.8230479691876751) 100%);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}
.result-part p{
    color: white;
}
.result{
    font-size: var(--font-L);
    font-weight: 600;
    padding: 1rem 0;
}
.result-desc{
    font-weight: 300;
    line-height: 180%;
}
.result-desc span{
    font-weight: bold;
}
.title{
    font-weight: bolder;
    font-size: 1.2rem;
}
@media screen and (min-width: 500px) and (max-width: 1440px){ 
  .result-part{
    display: flex;
  }
  .box-1,
  .box-2{
   width: 50%;
  }
  .result{
    font-size: 5rem;
  }
  .box-2{
  display: flex;
  align-items: center;
  }
  .result-desc{
    font-size: 1.1rem;
  }
  .result-part{
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }
}
